<ng-container *ngIf="item">
  <div class="row">
    <div class="col-9 row">
      <label [for]="item.description" class="col form-check-label">
        {{ item.description }}
      </label>
      <label [for]="item.category" class="col form-check-label">
        {{ item.category }}
      </label>
      <label [for]="item.amount" class="col form-check-label">
        {{ currency }} {{ item.amount }}
      </label>

    </div>
    

    <div class="col btn-group" role="group">
      <button class="btn btn-primary" (click)="editable = !editable">
        Edit
      </button>
      <button class="btn btn-danger" (click)="remove.emit()">Delete</button>
    </div>

    <div *ngIf="editable" class="row mt-1">
      <app-edit-item 
        [item]="item"
        [isNew]="false"
        (onSubmit)="updateDescription"
        (onCancel)="editable = false"

      ></app-edit-item>
    </div>
  </div>
</ng-container>