<ng-container *ngIf="item">
  <div class="row">
    <div class="col-12 col-md-9 row">
      <label [for]="item.description" class="col form-check-label">
        {{ itemCopy.description }}
      </label>
      <label [for]="item.category" class="col form-check-label">
        {{ itemCopy.category }}
      </label>
      <label [for]="item.amount" class="col form-check-label">
        {{ currency }} {{ itemCopy.amount }}
      </label>

    </div>

    <div class="col btn-group" role="group">
      <button class="btn btn-primary" (click)="editable = !editable">
        Editar
      </button>
      <button class="btn btn-danger" (click)="remove.emit()">Borrar</button>
    </div>

    <div *ngIf="editable" class="row mt-1">
      <app-edit-item 
        [item]="item"
        [isNew]="false"
        (onSubmit)="updateItem()"
        (onCancel)="cancelUpdate()"

      ></app-edit-item>
    </div>
  </div>
</ng-container>