<div class="box">
    <div class="container">
        <div class="row" style="text-align: center;">
            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
            <h3>Este proyecto fue creado como parte de un ejercicio práctico de los
                principios básicos sobre la Comunicación entre componentes, Gestión de eventos
                Formularios, PWA y despliegue en un servidor remoto, Almacenamiento de datos temporales y autenticacion
                mediante el uso de Firebase,
                guiado por el profesor JORGE ARTURO SAUCEDA FLORES. <br>
                La aplicación cuenta con el control de gastos de una persona basado en un presupuesto y ha sido creada
                por:
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa-solid fa-user fa-2xl" style="color: #ff6219;"></i>
                    <br><br>

                    <div class="title">
                        <h4> <strong>Esteban Espinoza Fallas</strong> </h4>
                    </div>

                    <div class="text">
                        <span>Ingeniero en sistemas de Información con 2 años de experiencia,
                            laborando actualmente para la empresa Pernix Solutions, Costa Rica</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa-solid fa-user fa-2xl" style="color: #ff6219;"></i>
                    <br><br>

                    <div class="title">
                        <h4><strong>Fernando Méndez Hurtado</strong></h4>
                    </div>

                    <div class="text">
                        <span>Ingeneiero en Computación con 1 año de experiencia,
                            laborando actualmente para la empresa Pernix Solutions, Costa Rica</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">

                    <i class="fa-solid fa-user fa-2xl" style="color: #ff6219;"></i>
                    <br><br>

                    <div class="title">
                        <h4><strong>Kenneth Orozco Ramírez</strong></h4>
                    </div>

                    <div class="text">
                        <span>Ingeneiero en Computación con 3 años de experiencia,
                            laborando actualmente para la empresa Pernix Solutions, Costa Rica</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>