<div class="container">
  <h1>Registros</h1>
  
  <ng-container *ngIf="openForm">
    <app-edit-item 
      [item]="newItem"
      [isNew]="true"
      (onSubmit)="addRegister(newItem)"
      (onCancel)="openForm = false"
  
    ></app-edit-item>
  </ng-container>

  <div class="btn-group mb-4">
    <div class="btn btn-primary" (click)="openForm = true">
      Agregar
    </div>

    <button class="btn btn-secondary" [class.active]="currentCategory == 'Todas'" (click)="currentCategory = 'Todas'">
      Ver Todos
    </button>

    <button class="btn btn-secondary" [class.active]="currentCategory == categories.i1" (click)="currentCategory = categories.i1">
      Ingresos
    </button>

    <button class="btn btn-secondary" [class.active]="currentCategory == categories.i2" (click)="currentCategory = categories.i2">
      Egresos Genéricos
    </button>

    <button class="btn btn-secondary" [class.active]="currentCategory == categories.i3" (click)="currentCategory = categories.i3">
      Transporte
    </button>

    <button class="btn btn-secondary" [class.active]="currentCategory == categories.i4" (click)="currentCategory = categories.i4">
      Vivienda
    </button>
  </div>

  <h2>
    {{ items?.length || 0}}
    <span *ngIf="items?.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul class="list-group">
    <li class="list-group-item mb-1 bg-custom-primary">
      <div class="row">
        <div class="col-9 row">
          <label class="col form-check-label">
            Descripción
          </label>
          <label class="col form-check-label">
            Categoría
          </label>
          <label class="col form-check-label">
            Monto
          </label>
    
        </div>
      </div>
    </li>
    <li *ngFor="let item of items; let i = index" class="list-group-item mb-1">
      <app-item [item]="item"
        (updateRegister)="updateRegister(item, i)" (remove)="removeRegister(item)"></app-item>
    </li>
  </ul>
</div>